@import "sass-rem";

//colors
$mail-blue: #005ca3;
$hover-mail-blue: #005292;
$mail-yellow: #f7b145;
$hover-mail-yellow: #DE9F3E;
$mail-gray-10: #606060;
$mail-gray: #E4E6E5;
$mail-white: #f7f7f7;
$mail-white-hover: rgba(247, 247, 247, 0.8);
$red: #D11A2A;
$hover-red: #BC1725;
$white: #ffffff;
$green: #09a909;
$hover-green: #089808;
$default-grey: #d3d3d3;
$default-grey-hover: rgba(211, 211, 211, 0.6);
$text-grey: #333333;
$border-grey: #191919;
$hover-config: rgba(0, 92, 163, 0.5);