@import "sass-rem";

//colors
$mail-blue: #005ca3;
$mail-yellow: #f7b145;
$mail-gray-10: #606060;
$mail-gray: #E4E6E5;
$mail-white: #f7f7f7;
$mail-white-hover: rgba(247, 247, 247, 0.8);
$red: #D11A2A;
$white: #ffffff;
$default-grey: #d3d3d3;
$default-grey-hover: rgba(211, 211, 211, 0.6);
$text-grey: #333333;
$border-grey: #191919;
$hover-config: rgba(0, 92, 163, 0.5);