@import "~sass-rem";
@import "./colors.scss";

//headline 4
$h4-font-size: rem(35px);

.h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: $h4-font-size;
    font-style: normal;
    font-weight: 400;
}

$default-title-text-font-size: rem(25px);

.default-title-text {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: $default-title-text-font-size;
    font-style: normal;
    font-weight: bold;
}

$default-title-text-font-size: rem(20px);

.default-title-text-light {
    @extend .default-title-text;
    font-size: $default-title-text-font-size;
    color: $mail-gray-10;
}

$cv-title-text-font-size: rem(35px);

.cv-title-text {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: $cv-title-text-font-size;
    font-style: normal;
    font-weight: bold;
}

$cv-section-title-text-font-size: rem(25px);

.cv-section-title-text {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: $cv-section-title-text-font-size;
    font-style: normal;
    font-weight: bold;
}

$medium-text-bold-font-size: rem(25px);

.medium-text {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: $medium-text-bold-font-size;
    font-style: normal;
}

.medium-text-bold {
    @extend .medium-text;
    font-style: normal;
    font-weight: bold;
}

.medium-text-italic {
    @extend .medium-text;
    font-style: italic;
}

$small-text-font-size: rem(20px);

.small-text {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: $small-text-font-size;
    font-style: normal;
}

.small-text-bold {
    @extend .medium-text;
    font-weight: bold;
}

.small-text-italic {
    @extend .medium-text;
    font-style: italic;
}


$tiny-text-font-size: rem(15px);

.tiny-text {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: $small-text-font-size;
    font-style: normal;
}

.tiny-text-bold {
    @extend .tiny-text;
    font-weight: bold;
}

$tiniest-text-font-size: rem(16px);

.tiniest-text {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: $tiniest-text-font-size;
    font-style: normal;
}

.tiniest-text-bold {
    @extend .tiniest-text;
    font-weight: bold;
}
.tiniest-text-red {
    @extend .tiniest-text;
    font-weight: bold;
    color: red;
}